body {
  position: relative;
}



header {
  padding: 44px 0 0;
  margin-bottom: 65px;

  @include max-991 {
    margin-bottom: 32px;
  }
}

.overll {
  position: absolute;
  inset: 0;
  z-index: 17;
  background-color: rgba(0, 0, 0, 0.01);
}

.profile-cont {
  cursor: pointer;
  .arrow-after {
    position: absolute;
    top: 12px;
    inset-inline-end: -10px;
    z-index: -1;
  }
}

.dropp {
  padding: 6px 0;
  background-color: white;
  border-radius: 12px;
  min-width: 170px;
  max-width: 200px;
  top: 18px;
  z-index: 20;
  inset-inline-end: 77px;

  a {
    padding: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
    border-bottom: 1px solid #ECECEC;
    span{
      width: 100%;
      text-align: center;
    }

  }

  a:hover {
    background-color: #ECECEC;
    border-radius: 12px;
  }

  img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
}

.trings-cont {
  .dropp {
    top: -30px;
    inset-inline-end: calc(20% + 20px);
    z-index: 300;
  }

  .arrow-after {
    top: 46%;
    bottom: unset;
    inset-inline-end: -10px;
    z-index: -1;
    /* transform: rotate(180deg);*/

  }
}
.rates-imgs{
  img{
    width: 44px!important;
    height: 44px !important;
  }
}
.main-select {
  z-index: 20;
  cursor: pointer;
  .dropp {
    top: 0px;
    inset-inline-start: calc(100% + 18px);
    z-index: 50;
}

  .arrow-after {
    top: 27px;
    inset-inline-start: -16px;
    transform: rotate(90deg);
  }
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 2;
  @include flexCenter;
  font-weight: 800;
  font-size: 24px;
  color: $white;
  background-color: #0e76bc;
  text-transform: uppercase;

  @include max-767 {
    width: 48px;
    font-size: 18px;
  }
}

.align-header {
  display: flex;
  align-items: center;
  gap: 36px;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include max-767 {
    gap: 15px;
  }
}

.main-logo {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 8px;
  border-radius: 35px;
  backdrop-filter: blur(54px);
  color: $sec;
  font-weight: 600;
  font-size: 22px;
  padding: 5px 24px 5px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 70px;

  button {
    width: unset;
  }

  ;

  @include max-991 {
    font-size: 14px;
    padding: 5px;
    height: 50px;

    img {
      width: 40px;
    }
  }
}

.main-select {
  padding-inline-start: 24px;

  button {
    box-shadow: none;
    color: #1f1f1f;
    background-color: transparent;
    font-size: 22px;
    font-weight: 600;

    svg {
      fill: #1f1f1f;
      opacity: 1;
    }


    @include max-991 {
      font-size: 14px;
    }
  }

  button:focus {
    box-shadow: none !important;
  }
}